.modal .modalClose {
  display:inline; /* undo hidden */
  text-decoration:none;
}

.modal,
.modal > .modalClose,
#fauxBody {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;
}

.modal {
  left:-100vw;
  opacity:0;
  padding:1em;
  transition:opacity 0.3s, left 0s 0.3s;
  background:radial-gradient(
    hsla(220, 100%, 100%, 0.8) 20%,
    hsla(220, 100%, 85%, 0.95) 100%
  );
}

.modal:target {
  left:0;
  opacity:1;
  transition:opacity 0.3s, left 0s;
}

.modal > div {
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100%;
}

.modal > div > section,
.modal > div > nav {
  position:relative;
  overflow:hidden;
  width:100%;
  max-width:24em;
  background:hsl(220, 100%, 95%);
  border:1px solid #0484;
  border-radius:0.5em;
  box-shadow:0 0.25em 1em #0006;
  transform:scale(0);
  transition:transform 0.3s;
}

.modal:target > div > section,
.modal:target > div > nav {
  transform:scale(1);
}

section .modalClose,
nav .modalClose {
  position:absolute;
  top:0;
  right:0.325em;
  font-size:1.75em;
  color:#C00;
  transition:transform 0.3s;
}

section .modalClose:after,
nav .modalClose:after {
  content:"\1F5D9";
}

section .modalClose:focus,
section .modalClose:hover,
nav .modalClose:focus,
nav .modalClose:hover {
  transform:scale(1.2);
}


.modal h2 {
  padding:0.4em 2.8em 0.4em 0.8em;
  font-size:1.25em;
  background:#0482;
  border-bottom:1px solid #0484;
}

.modal h2 + div {
  padding:1.5em 1.5em 0;
}

.modal p,
.modal ul,
.modal ol,
.modal .submitsAndHiddens {
  padding-bottom:1.5em;
}


.modalMenu > div > nav {
  width:auto;
}

.modalMenu > div > nav > div {
  padding:0.25em;
}

.modalMenu ul {
  list-style:none;
  padding:0;
}

.modalMenu li {
  display:block;
}

.modalMenu ul a {
  display:block;
  padding:0.25em 1em;
  margin-bottom:0.25em;
  text-align:center;
  text-decoration:none;
  background:#0481;
  border:1px solid #0006;
  transition:background 0.3s;
}

.modalMenu li:last-child a {
  margin:0;
  border-radius:0 0 0.25em 0.25em;
}

.modalMenu ul a:focus,
.modalMenu ul a:hover {
  background:#0483;
}

#search > div > section {
  max-width:32em;
}

#search > div > section > div {
  padding:1em 1em 0;
}

/*
	Because fieldset and button are "no flex zones" in
	Webkit/Blink we'll have to absolute position the button
	to get full width and operating on the same line. Sucks.
*/

#search fieldset {
	position:relative;
	padding-right:2.5em;
}

#search fieldset input {
	width:100%;
}

#search button {
	position:absolute;
	right:-0.1em;
	top:0.25em;
  padding:0;
  font-size:1.5em;
  line-height:1em;
  background:transparent;
  border:none;
}

@media (max-width:40em) {

  .mainMenuOpen {
    flex:0 0 auto;
    display:block;
    padding:0.25em;
    text-decoration:none;
    border-radius:0.5em;
    transition:transform 0.3s;
  }
  
  .mainMenuOpen:focus,
  .mainMenuOpen:hover {
    transform:scale(1.2);
  }
  
  .mainMenuOpen:before,
  .mainMenuOpen:after {
    content:"";
    display:block;
    width:1.75em;
    height:0.325em;
    border:solid #000A;
    border-width:0.325em 0;
  }
  
  .mainMenuOpen:after {
    border-top:none;
  }

  #mainMenu .modalClose {
    display:inline; /* undo hidden */
    text-decoration:none;
  }
  
  #mainMenu,
  #mainMenu > .modalClose {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
  }

  #mainMenu {
    left:-100vw;
    opacity:0;
    padding:1em;
    transition:opacity 0.3s, left 0s 0.3s;
    background:radial-gradient(
      hsla(220, 100%, 100%, 0.8) 20%,
      hsla(220, 100%, 85%, 0.95) 100%
    );
  }

  #mainMenu:target {
    left:0;
    opacity:1;
    transition:opacity 0.3s, left 0s;
  }

  #mainMenu div {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100%;
  }

  #mainMenu nav {
    position:relative;
    overflow:hidden;
    width:100%;
    max-width:24em;
    background:hsl(220, 100%, 95%);
    border:1px solid #0484;
    border-radius:0.5em;
    box-shadow:0 0.25em 1em #0006;
    transform:scale(0);
    transition:transform 0.3s;
  }

  #mainMenu:target nav {
    transform:scale(1);
  }

  #mainMenu nav:before {
    content:"Меню сайта";
    display:block;
    padding:0.4em 2.8em 0.4em 0.8em;
    font-size:1.25em;
    background:#0482;
    border-bottom:1px solid #0484;
  }
  
  #mainMenu > div > nav {
    flex:0 0 auto;
    width:auto;
  }

  #mainMenu ul {
    display:block; /* disable flex */
    list-style:none;
    padding:0.25em;
  }

  #mainMenu li {
    display:inline;
    margin:0;
  }

  #mainMenu ul a {
    display:block;
    padding:0.25em 1em;
    margin-bottom:0.25em;
    text-align:center;
    text-decoration:none;
    background:#0481;
    border:1px solid #0006;
    transition:background 0.3s;
  }

  #mainMenu li:last-child a {
    margin:0;
    border-radius:0 0 0.25em 0.25em;
  }

  #mainMenu ul a:focus,
  #mainMenu ul a:hover {
    transform:scale(1);
    background:#0483;
  }

} /* max-width:40em */

